.masthead
  .masthead__container
    %ul.example-orbit{"data-orbit" => ""}
      %li
        %img{ alt: "Find local sporting events.", src: "/assets/sporting-event.jpg"}/
        %p.masthead__image-text Cheer for you team! Find sporting events in your area.
        %a.button{:href => "#"} Find Local Sporting Activies
      %li.active
        %img{ alt: "Find movies and televison programming to watch at home.", src: "/assets/watch-a-movie.jpg"}/
        %p.masthead__image-text Stay and cozy up to a great movie or you favorite TV show! Check local listing.
        %a.button{:href => "#"} Find a movie or TV show
      %li
        %img{ alt: "Find local outdoor activities", src: "/assets/outdoors-activities.jpg"}/
        %p.masthead__image-text Get outside and see nature. Find outdoor events in your area.
        %a.button{:href => "#"} Find a nearby trail

.content
  %section.stop-being-bored
    %h3 Is this you? It doesn't have to be this way. There are plently of things you can find to do!
    %img{ alt: "Man pulling out hair", src: "/assets/bored-child.jpg"}
  %section.find-activities
    %h3 Find things aways is so simple with Not Bored Tonight.
  %section.add-activies-to-calendar
    %h3 By creating an account you can save activities your calendar so you'll never miss a fun activity again!
  %section.ready
    %h3 Ready to stop being bored?
    %button Get Started
