-# .masthead
-#   .masthead__container
-#     <!-- "Orbit" is a Foundation 5 naming convention -->
-#     %ul.example-orbit{"data-orbit" => ""}
-#       %li
-#         %img.masthead-image{ alt: "Find local sporting events.", src: "/assets/sporting-event.jpg"}/
-#         %p.masthead__image-text Cheer for you team! Find sporting events in your area.
-#         %a.button{:href => "#"} Find Local Sporting Activies
-#       %li.active
-#         %img.masthead-image{ alt: "Find movies and televison programming to watch at home.", src: "/assets/watch-tv.jpg"}/
-#         %p.masthead__image-text Stay and cozy up to a great movie or you favorite TV show! Check local listing.
-#         %a.button{:href => "#"} Find a movie or TV show
-#       %li
-#         %img.masthead-image{ alt: "Find local outdoor activities", src: "/assets/outdoors-activities.jpg"}/
-#         %p.masthead__image-text Get outside and see nature. Find outdoor events in your area.
-#         %a.button{:href => "#"} Find a nearby trail
-#
-# .content
-#   %section.tagline
-#     %h3 There is no reason to bored any longer!
-#
-#   %section.stop-being-bored
-#     .stop-being-bored__image-container
-#       %img{ alt: "Bored Child", src: "/assets/bored-child.jpg"}
-#     .stop-being-bored__call-to-action
-#     %h3 Is this you? It doesn't have to be this way. Find the perfect activity for you mood.
-#     %a.button{:href => "#"} Getting Started
-#
-#   %section.find-activities
-#     %h3 Find things aways is so simple with Not Bored Tonight.
-#
-#   %section.add-activies-to-calendar
-#     %h3 By creating an account you can save activities your calendar so you'll never miss a fun activity again!
-#     .add-activities-to-calendar__example-calendar-example
-#   %section.ready
-#     %h3 Ready to stop being bored?
-#     %a.button{:href => "#"} Get going!
