.browsers
  .browser
    .browser-top-bar
      .browser-circle
      .browser-circle
      .browser-circle
    .browser-content
  .browser
    .browser-top-bar
      .browser-circle
      .browser-circle
      .browser-circle
    .browser-content
  .browser
    .browser-top-bar
      .browser-circle
      .browser-circle
      .browser-circle
    .browser-content
.cover

%ul.bullets
  %li.bullet.three-col-bullet
    .bullet-icon.bullet-icon-1
      %img{ alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png\r\n"}/
    .bullet-content
      %h2 Bored?
      %p Too many people sit at home after a long day at work, bored out of their mind. You don't have to be one of those people!
  %li.bullet.three-col-bullet
    .bullet-icon.bullet-icon-2
      %img{alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png"}/
    .bullet-content
      %h2 Find Activities
      %p With our comprehensive search, you can find numerous activities in your area. You can control the area of your search, when you are looking to do a activity, and what type of activity you are in the mood for!
  %li.bullet.three-col-bullet
    .bullet-icon.bullet-icon-3
      %img{ alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_4.png"}/
    .bullet-content
      %h2 Add to Calendar
      %p You can save activities to your calendar so that time and forgetfulness don't get the best of you!
