---
http_interactions:
- request:
    method: get
    uri: http://api.eventful.com/json/events/search?app_key=Q3K7wz9stMQPSM5m&c=sports&date=nextweek&l=37215&within=10
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {"last_item":null,"total_items":"824","first_item":null,"page_number":"1","page_size":"10","page_items":null,"search_time":"0.054","page_count":"83","events":{"event":[{"watching_count":null,"olson_path":"America/Chicago","calendar_count":null,"comment_count":null,"region_abbr":"TN","postal_code":"37212","going_count":null,"all_day":"0","latitude":"36.1347463","groups":null,"url":"http://nashville.eventful.com/events/evansville-purple-aces-belmont-bruins-basketba-/E0-001-075188128-3?utm_source=apis&utm_medium=apim&utm_campaign=apic","id":"E0-001-075188128-3","privacy":"1","city_name":"Nashville","link_count":null,"longitude":"-86.7957877","country_name":"United States","country_abbr":"USA","region_name":"Tennessee","start_time":"2014-12-09 13:00:00","tz_id":null,"description":null,"modified":"2014-09-17 10:36:53","venue_display":"1","tz_country":null,"performers":null,"title":"Evansville Purple Aces at Belmont Bruins Basketball","venue_address":"1900 Belmont Boulevard","geocode_type":"EVDB Geocoder","tz_olson_path":null,"recur_string":null,"calendars":null,"owner":"evdb","going":null,"country_abbr2":"US","image":null,"created":"2014-09-17 10:36:53","venue_id":"V0-001-001693952-6","tz_city":null,"stop_time":null,"venue_name":"Curb Event Center","venue_url":"http://nashville.eventful.com/venues/curb-event-center-/V0-001-001693952-6?utm_source=apis&utm_medium=apim&utm_campaign=apic"},{"watching_count":null,"olson_path":"America/Chicago","calendar_count":null,"comment_count":null,"region_abbr":"TN","postal_code":"37212","going_count":null,"all_day":"0","latitude":"36.1347463","groups":null,"url":"http://nashville.eventful.com/events/siu-edwardsville-cougars-belmont-bruins-basket-/E0-001-075188133-5?utm_source=apis&utm_medium=apim&utm_campaign=apic","[...]
