
/*
  ========================================
  Header styles
  ========================================
*/

/* This styling can be found in `stylesheets/shared/_header.scss` */


/*
  ========================================
  Footer styles
  ========================================
*/

.wrapper-for-content-outside-of-footer {
   min-height: 100%;
   height: auto !important;
   height: 100%;
   margin: 0 auto -4em;
 }

html, body {
  height: 100%;
 }



.contents {
  @include outer-container;
}
