.search-container, {
  margin-top: 20px;
}

.search-container__navigation {
  @include span-columns(3);
}

.search-container__search-results {
  @include span-columns(9);
}

.activity__venue-name--label,
.activity__date-time--label,
.activity__more-info {
  text-indent: 20px;
}

.activity__venue-name--label {
  padding-top: 10px;
}
.activity__venue-name,
.activity__location,
.activity__date-time {
  margin: 10px auto;
  text-indent: 50px
}

.activity__description {
  margin-left: 50px;
  margin-right: 50px;
}

.search-results__activity {
  margin-bottom: 30px;
}

.save-to-calendar {
  margin-top: 10px;
}

.saved {
  background-color: #97B52E;
}

.saved:hover {
  background-color: gray;
}

.navigation__query-choices,
.search-results__activity:first-child {
  margin-top: 15px;
}

.hidden {
  display: none;
}

.require-sign-in {
  margin-top: 10px;
}
