.dashboard-header,
.sort-container {
  display: inline-block;
}

.dashboard-header {
  margin-right: 520px;
}

.sort {
  margin-right: 15px;

  &:last-child {
    margin: 0;
  }
}

.user-activity__venue-name,
.user-activity__date,
.activity__description.hidden {
  text-indent: 45px;
  margin-top: 5px;
}

.user-activity__date {
  margin-bottom: 7px; 
}
