.user-account-task-title {
  margin-left: 200px;
  margin-bottom: 15px;
}

.form-container {
  width: 800px;
  margin: auto;
}

.form-inputs {
  width: 400px;
  padding: 15px 0;
  margin: auto;
}

.form-actions {
  width: 400px;
  margin: auto;
}
.cancel-account {
  margin: 10px; 
}
