.add-activities-to-calendar__example-calendar-example {
  background-image: url("calendar-example.png");
  background-size: cover;
  height: 400px;
  width: 600px;
}

img.masthead-image {
  height: 600px;
  width: 100%;
}
