/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}





/*
  ========================================
  Header styles
  ========================================
*/

.header__logo,
.header__navigation,
.navigation__browse-menu,
.navigation__browse-menu li,
.navigation__search,
.navigation__user-menu,
.navigation__user-menu li {
  display: inline-block;
}

.header__logo a,
.navigation__browse-menu li a,
.navigation__user-menu li a {
  text-decoration: none;
}





/*
  ========================================
  Footer styles
  ========================================
*/


.footer__navigation,
.footer__terms-and-copyright {
  display: inline-block;
}

.footer__navigation li,
.footer__terms-and-copyright ul,
.footer__terms-and-copyright li,
.footer__rights {
  display: inline-block;
}

.footer__social-media--facebook {
  background-image: url("icon-facebook.png");
  background-size: cover;
  display: inline-block;
  height: 50px;
  width: 50px;
}

.footer__social-media--twitter {
  background-image: url("icon-twitter.png");
  background-size: cover;
  display: inline-block;
  height: 50px;
  width: 50px;
}

fieldset.social-media {
    border-top: 1px solid #aaa;
    border-bottom: none;
    border-left: none;
    border-right: none;
    display: block;
    text-align: center;
}

fieldset.social-media legend {
    padding: 5px 10px;
}

.footer__tag-line {
  border-bottom: 1px solid #aaa;
}
