.search-container
  .search-container__navigation
    %h2 Find Activities
    .navigation__query-choices
      %button.query-item{ href: "#" } Sports
      %button.query-item{ href: "#" } Music
      %button.query-item{ href: "#" } Food & Wine
      %button.query-item{ href: "#" } Museums & Attractions
      %button.query-item{ href: "#" } Festivals
      %button.query-item{ href: "#" } Kids & Family
      %ul.accordion
        %li
          %button.more-activities-button.js-accordion-trigger{href: "#"} More Activities
          %ul.submenu
            %li
              %button.query-item{ href: "#" } Art Galleries & Exhibits
            %li
              %button.query-item{ href: "#" } Performing Arts
            %li
              %button.query-item{ href: "#" } Movies & Films
            %li
              %button.query-item{ href: "#" } Neigborhood Activities
            %li
              %button.query-item{ href: "#" } Nightlife & Singles
            %li
              %button.query-item{ href: "#" } Comedy Shows
            %li
              %button.query-item{ href: "#" } Various Meetups
            %li
              %button.query-item{ href: "#" } Conferences
            %li
              %button.query-item{ href: "#" } Outdoors & Recreation
    .navigation__parameters
      %ul.accordion
        %li
          %button.search-parameters.js-accordion-trigger{href: "#"} Search Parameters
          %ul.submenu
            %li
              %label.param-label Zip Code
              %input{ autofocus: true, id: "search-location", class: "params" }
            %li
              %label.param-label Search Radius
              %select{ id: "search-radius", class: "params" }
                - ((5..100).step(5).to_a).each do |i|
                  - if i == 20
                    %option{ selected: "selected" } 20
                  - else
                    %option #{i}
            %li
              %label.param-label How soon?
              %select{ id: "search-date", class: "params" }
                %option Today
                %option Tomorrow
                %option{ selected: "selected" } This Week
                %option Next Week
  .search-container__search-results#search-results
    = render "activities"
