%footer.footer
  .footer__social-media
    %fieldset.social-media
      %legend Follow Us
    .footer__social-media--facebook
    .footer__social-media--twitter
  .footer__tag-line
    %h3 Bored? Not now!
  %nav.footer__navigation
    %ul
      %li= link_to "About Us", '#'
      %li= link_to "Blog", '#'
  .footer__terms-and-copyright
    %ul
      %li= link_to "Term of Use", '#'
      %li= link_to "Privacy Policy", '#'
    %small.footer__rights &copy; NotBoredTonight.com. All rights reserved.
